<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Second Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styledaphne.css') }}">
</head>
<body>

    <h1>Welcome to My Further Info Page!</h1>
    <p>You clicked the button! YAY!!!</P>
    <P>This is a brand new webpage.</p>
    <p>I felt like another page was needed to showcase some more images so...</p>

    <h2>Some Cool Images</h2>

    <img src="{{ url_for('static', filename='images/20241201_123804.jpg') }}" alt="Sunny day">
    <img src="{{ url_for('static', filename='images/IMG_20240308_225234_102.jpg') }}" alt="Hiking trip">
    <br>

    <!-- Corrected back button link -->
    <a href="{{ url_for('daphne_page') }}">Go Back to Main Page</a>
<footer>
        <p>&copy; Powerpuff Profiles 2025</p>
    </footer>
</body>
</html>
