
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liya</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='liyastyle.css') }}">
    <style>
        #MainTitle{
            color: black;
            line-height: 2;
            font-size: 30px;
        }

        img{
            display:block;
            margin: auto;
            width: 60%;
        }
        .smallimg {
            width: 20%;
        }
    </style>
</head>
<body>
<h3 id="MainTitle">Liya Khan</h3>

<h4>Name: Liya Khan</h4>
<h4>Country: United Kingdom</h4>
<h4>Job: Legal Technology Analyst</h4>
<h4>Hobbies: Gym, hikes, travelling</h4>
<h4>Favourite food: Too many! Burgers, pizza, shawarma</h4>

<footer>
        <p>&copy; Powerpuff Profiles 2025</p>
    </footer>
</body>
</html>
