body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: pink;
    padding: 20px;
    color: b;
    text-align: center;
}
nav {text-align: left;}
footer{
    background-color: dimgray;
    color: white;
    font-size: 16px;
}