body    {
    font-family: Manrope, sans-serif;
    background-color: beige;
    color: seagreen;
}


h3 {
    font-family: Bricolage+Grotesque;
    color: rgb(0, 0, 0);
}

.container {

    background-color: rgb(255, 255, 255);
     height: 300vh;
      display: flex;
      justify-content: space-between;
       padding-right: 100px;
       padding-top: 100px;}

        .carousel-inner {
        height: 100%;
        width: 100%;
        align-items: right;}
        .carousel-item {
        height: 250%;
        width: 100%;}
        .carousel-item
        img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        display: block;
        }